<a href="https://colab.research.google.com/github/Joaogalescky/Ciencia-de-Dados---2024/blob/main/For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For

Outra maneira de apresentar este resultado é utilizando uma *estrutura de repetição*, como o `for`. Neste caso, basta informarmos a variável que queremos utilizar e os valores que queremos.

**Exemplo**

```python
for var in 0,1,2,3,4,5:
    print(var)
```
No exemplo, utilizamos a variável `var`, e em seguida informamos quais valores serão armazenados na variável ($0$,$1$,$2$,$3$,$4$ e $5$).

**Atividade**

- Execute o exemplo utilizando a estrutura de repetição `for`

In [ ]:
for var in 0, 1, 2, 3, 4, 5:
    print(var)

0
1
2
3
4
5

**Sintaxe**

```python
for <variável> in <valores>:
    <código>
```
onde:
- <variável> corresponde a uma variável que terá seu valor alterado a cada execução, a **variável de controle**
- <valores> são os valores que serão utilizados, e armazenados na variável de controle
- <código> corresponde ao código que será executado para cada valor passado.
    - Chamamos de **iteração** a cada vez que o código foi executado.
    
    
**Observação**
    
- A indentação define qual será o bloco abrangido pelo `for`
- ao final da primeira linha do `for` há dois pontos (`:`)

**Exercício**

- Faça uma aplicação que apresente uma sequência de números de 5 a 9 utilizando `for`.

In [ ]:
for var in range(5, 10):
    print(var)

5
6
7
8
9

**Exercício**

- Utilizando `for`, faça uma aplicação que apresente uma sequência de números em ordem decrescente, de 7 a 3.
- Faça uma aplicação utilizando `for` que apresente uma sequência com as palavras 'batata', 'abacaxi', 'pessego' e 'beterraba'.

In [ ]:
for i in range(7, 2, -1):
  print(i)

7
6
5
4
3

In [ ]:
for palavra in ['batata', 'abacaxi', 'pessego', 'beterraba']:
    print(palavra)

batata
abacaxi
pessego
beterraba

## A função `range()`
Até aqui todos os valores a serem utilizados nas iterações foram apresentados explicitamente, visto que sempre colocamos diretamente no código cada valor a ser assumido pela variável.

Porém, podemos utilizar algumas funções do Python para gerar esses valores. Para gerar sequências de números, pode-se utilizar a função `range()`.

**Exemplo**

Para mostrar os números de 0 a 5:
```python
for i in range(6):
    print(i)
```

Observe que o último valor gerado pelo `range()` é um número menor que a entrada dada à função. Ao omitirmos o valor inicial, $0$ é assumido.

**Atividade**

- Execute o exemplo acima

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

**Exercício**

- Peça ao usuário que digite um número, e mostre a sequência de valores de 0 até o número imediatamente inferior ao número que ele digitou
- Peça ao usuário que digite um número, e mostre a sequência de valores de 0 até o número que ele digitou

In [ ]:
n = int(input("Digite um número: "))
for i in range(n):
    print(i)

Digite um número: 10
0
1
2
3
4
5
6
7
8
9

In [ ]:
n = int(input('Digite um número: '))
for i in range(n + 1):
  print(i)

Digite um número: 10
0
1
2
3
4
5
6
7
8
9
10

**Exercícios**
- [Beecrowd 1060 - Números Positivos ](https://www.beecrowd.com.br/judge/pt/problems/view/1060)  
- [Beecrowd 1066 - Ímpares, Positivos e Negativos](https://www.beecrowd.com.br/judge/pt/problems/view/1066)  
- [Beecrowd 2862 - Inseto!](https://www.beecrowd.com.br/judge/pt/problems/view/2862)
- [Beecrowd 1133 - Resto da Divisão](https://www.beecrowd.com.br/judge/pt/problems/view/1133)

In [ ]:
#beecrowd 1060 - Números positivos
'''
Faça um programa que leia 6 valores. Estes valores serão somente negativos ou positivos (desconsidere os valores nulos). A seguir, mostre a quantidade de valores positivos digitados.

Entrada
Seis valores, negativos e/ou positivos.

Saída
Imprima uma mensagem dizendo quantos valores positivos foram lidos.
'''

q = 6
t = q
aux = 0

for i in range(q):
  n = int(input(f'Digite {t} valores: '))
  if n > 0:
    aux += 1;
    t -= 1;
print(f'Foram lidos {aux} valor(es) positivo(s)')

Digite 6 valores: 5
Digite 5 valores: 4
Digite 4 valores: 6
Digite 3 valores: 7
Digite 2 valores: 8
Digite 1 valores: -1
Foram lidos 5 valor(es) positivo(s)

In [ ]:
#beecrowd 1066 - Ímpares, Positivos e Negativos
'''
Leia 5 valores Inteiros. A seguir mostre quantos valores digitados foram pares, quantos valores digitados foram ímpares, quantos valores digitados foram positivos e quantos valores digitados foram negativos.

Entrada
O arquivo de entrada contém 5 valores inteiros quaisquer.

Saída
Imprima a mensagem conforme o exemplo fornecido, uma mensagem por linha, não esquecendo o final de linha após cada uma.
'''

q = 5
t = q
par = 0
impar = 0

for i in range(q):
  n = int(input(f'Digite {t} valores: '))
  if n % 2 == 0:
    par += 1;
  else:
    impar += 1;
  t -= 1;
print(f'Foram lidos {par} valor(es) pare(s)\nForam lidos {impar} valor(es) impare(s)')

Digite 5 valores: 5
Digite 4 valores: 2
Digite 3 valores: 8
Digite 2 valores: 6
Digite 1 valores: 7
Foram lidos 3 valor(es) pare(s)
Foram lidos 2 valor(es) impare(s)

In [ ]:
#beecrowd 2862 - Inseto
'''
Escreva um programa que leia 2 valores X e Y e que imprima todos os valores entre eles cujo resto da divisão dele por 5 for igual a 2 ou igual a 3.

Entrada
O arquivo de entrada contém 2 valores positivos inteiros quaisquer, não necessariamente em ordem crescente.

Saída
Imprima todos os valores conforme exemplo abaixo, sempre em ordem crescente.
'''

q = 2

print('Digite o valor do intervalo de X para Y: ')
x = int(input())
y = int(input())
print('----------------------------------------')

if x < y:
  x, y = x, y
  for i in range(x, y, 1):
    if i % 5 == 2 or i % 5 == 3:
      print(i)

Digite o valor do intervalo de X para Y:
2
43
----------------------------------------
2
3
7
8
12
13
17
18
22
23
27
28
32
33
37
38
42

In [ ]:
#beecrowd 1133 - Resto da Divisão
'''
Devita é o príncipe dos Calsadins. Juntamente com Pana, eles vão atrás de Tataroko, o nome de nascimento de Kogu, para tentar dominar o mundo. Ele possui um rastreador que mede o nível de energia de qualquer ser vivo. Todos os seres com o nível menor ou igual a 8000, ele considera como se fosse um inseto. Quando passa deste valor, que foi o caso de Kogu, ele se espanta e grita “Mais de 8000”. Baseado nisso, utilize a mesma tecnologia e analise o nível de energia dos seres vivos.

Entrada
A entrada é composta por vários casos de teste. A primeira linha contém um número inteiro C relativo ao número de casos de teste. Em seguida, haverá C linhas, com um número inteiro N (100 <= N <= 100000) relativo ao nível de energia de um ser vivo.

Saída
Para cada valor lido, imprima o texto correspondente.
'''

c = int(input('Digite a quantidade de casos de teste: '))
for i in range(c):
  n = int(input('Digite o nível de energia do ser vivo: '))
  if n <= 8000:
    print('Inseto!')
  else:
    print('Mais de 8000!')

Digite a quantidade de casos de teste: 2
Digite o nível de energia do ser vivo: 7999
Inseto!
Digite o nível de energia do ser vivo: 8001
Mais de 8000!

A função `range()` também pode ser utilizada de outras maneiras, passando diferentes valores como entrada para a função.  

**Exemplo**

Especificando os valores inicial e final da sequência, como números de 5 a 8.
```python
for i in range(5,9):
    print(i)
```

**Atividade**

- Execute o exemplo acima

In [ ]:
for i in range(5,9):
    print(i)

5
6
7
8

**Exemplo**

Especificando o incremento, como números de 5 a 29, incrementando de 3 em 3.
```python
for i in range(5,30,3):
    print(i)
```

**Atividade**

- Execute o exemplo acima

In [ ]:
for i in range(5,30,3):
    print(i)

5
8
11
14
17
20
23
26
29

**Exemplo**

Sequência com incremento negativo (decremento), como números de 15 a 9.
```python
for i in range(15,8,-1):
    print(i)
```

**Atividade**

- Execute o exemplo acima

In [ ]:
for i in range(15,8,-1):
    print(i)

15
14
13
12
11
10
9

**Exercícios**    
- [Beecrowd 1067 - Números Ímpares ](https://www.beecrowd.com.br/judge/pt/problems/view/1067)
- [Beecrowd 1073 - Quadrado de Pares](https://www.beecrowd.com.br/judge/pt/problems/view/1073)

In [ ]:
#beecrowd 1067 - Números Ímpares
'''
Leia um valor inteiro X (1 <= X <= 1000). Em seguida mostre os ímpares de 1 até X, um valor por linha, inclusive o X, se for o caso.

Entrada
O arquivo de entrada contém 1 valor inteiro qualquer.

Saída
Imprima todos os valores ímpares de 1 até X, inclusive X, se for o caso.
'''

x = int(input('Digite um valor inteiro X (1 <= X <= 1000): '))
for i in range(1, x + 1, 2):
  print(i)

Digite um valor inteiro X (1 <= X <= 1000): 23
1
3
5
7
9
11
13
15
17
19
21
23

In [ ]:
#beecrowd 1073 - Quadrado de Pares
'''
Leia um valor inteiro N. Apresente o quadrado de cada um dos valores pares, de 1 até N, inclusive N, se for o caso.

Entrada
A entrada contém um valor inteiro N (5 < N < 2000).

Saída
Imprima o quadrado de cada um dos valores pares, de 1 até N, conforme o exemplo abaixo.

Tome cuidado! Algumas linguagens tem por padrão apresentarem como saída 1e+006 ao invés de 1000000 o que ocasionará resposta errada. Neste caso, configure a precisão adequadamente para que isso não ocorra.
'''

n = int(input('Digite um valor inteiro N (5 < N < 2000): '))
for i in range(2, n + 1, 2):
  print(i ** 2)

Digite um valor inteiro N (5 < N < 2000): 8
4
16
36
64

## Estratégias

### Acumuladores
Um **acumulador** é uma variável que *acumula* um valor, sendo utilizada em várias iterações.

**Exemplo**

Soma de uma sequência de números:
```python
S=0
for i in range(5,10+1):
    S=S+i
print('Soma:', S)
```

**Atividade**

- Execute o exemplo acima

In [ ]:
S = 0
for i in range(5, 10 + 1):
    S = S + i
print('Soma:', S)

Soma: 45

### Estruturas aninhadas
É possível utilizar `for` ou `if` dentro de um `for` (e vice-versa).

**Exemplo**

- Faça um programa que gere a seguinte saída na tela:
```python
1
12
123
1234
12345
```
```python
nlinhas=5
for linha in range(1,nlinhas+1):
    for col in range(1,linha+1):
        print(col,end='')
    print('')
```

**Atividade**

- Execute o exemplo acima, e explique o ocorrido

In [ ]:
nLinhas = 10
for linha in range(1, nLinhas + 1):
  for col in range(1, linha + 1):
    print(col, end = ' ')
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

**Exemplo**

Procure dois valores que quando multiplicados resultam em um valor especificado.
```python
val = 56
for i in range(11):
    for j in range(11):
        mult = i*j
        if mult == val:
            print(i,'*',j,'=',mult)
```

**Atividade**

- Execute o exemplo.

In [ ]:
val = 56
for i in range(11):
    for j in range(11):
        mult = i * j
        if mult == val:
            print(i,'*',j,'=',mult)

7 * 8 = 56
8 * 7 = 56

Neste caso, é necessário atenção ao nível em que cada estrutura está. Observe as diferenças:
```python
val = 56
for i in range(11):
    for j in range(11):
        mult = i*j
    if mult == val:
        print(i,'*',j,'=',mult)
```
```python
val = 56
for i in range(11):
    for j in range(11):
        mult = i*j
if mult == val:
    print(i,'*',j,'=',mult)
```

**Atividade**

- Execute os exemplos, e mostre a diferença destes com o exemplo anterior
- Qual dos códigos apresenta o resultado correto?
- O que há de errado?

In [ ]:
val = 56
for i in range(11):
    for j in range(11):
        mult = i*j
    if mult == val: #identacao incorreta, pula o calculo da multiplicacao
        print(i,'*',j,'=',mult)

In [ ]:
val = 56
for i in range(11):
    for j in range(11):
        mult = i*j
if mult == val: #identacao incorreta, pula direto para o 'if', sem checar o restante do codigo
    print(i,'*',j,'=',mult)

## Erros comuns

Alguns erros comuns ao utilizar a estrutura de repetição `for` estão descritos a seguir.
### Indentação incorreta
```python
for j in range(0,10):
print(j)
```

**Atividade**

- Execute o exemplo e observe a saída

In [ ]:
for j in range(0,10):
print(j)

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-37-17d11dbad316>, line 2)

### Sintaxe incorreta
```python
for k in range(5,10,2)
    print(k)
```

**Atividade**

- Execute o exemplo e observe a saída

In [ ]:
for k in range(5,10,2)
    print(k)

SyntaxError: expected ':' (<ipython-input-38-999ac1ac28c3>, line 1)

### Valores incorretos
```python
for k in range(10,5,2)
    print(k)
```

**Atividade**

- Execute o exemplo e observe a saída

In [ ]:
for k in range(10,5,2):
    print(k)

### Uso incorreto da variável de controle
```python
for j in range(0,10):
    print(k)
```

**Atividade**

- Execute o exemplo e observe a saída

In [ ]:
for j in range(0,10):
    print(k)

NameError: name 'k' is not defined

**Exercícios**

Resolva os exercícios a seguir, utilizando `for`.
1. Peça ao usuário que digite dois números A e B, de forma que A < B. Mostre a sequência de valores de A até B.
1. Peça ao usuário que digite dois números: A e B. Mostre a sequência de valores, do menor número até o maior.
1. Peça ao usuário que digite dois números: A e B. Mostre a sequência inversa de valores, do maior até o menor número.
1. Peça ao usuário que digite um número par. Mostre na tela os 10 números pares seguintes.
1. Peça ao usuário que digite um número. Mostre na tela os 10 números pares seguintes.
1. Calcule e mostre na tela a soma dos números de 1 a 10.
1. Calcule e mostre na tela a soma dos números de 1 a 100.
1. Solicite ao usuário que digite dois números A e B. Calcule e mostre a soma de todos os números no intervalo de A a B.
1. Não execute o código abaixo. Apenas observe-o e informe qual será a saída dele.
```python
for j in range(8):
print(j)
```
1. Não execute o código abaixo. Apenas observe-o e informe qual será a saída dele.
```python
for j in range(5,10,-1):
        print(j)
```

In [ ]:
#1
a = int(input("Digite o valor de A: "))
b = int(input("Digite o valor de B: "))

if a > b:
  print("A deve ser menor que B.")
else:
  for i in range(a, b + 1):
    print(i)

In [ ]:
#2
a = int(input("Digite o valor de A: "))
b = int(input("Digite o valor de B: "))

if a > b:
  a, b = b, a

for i in range(a, b + 1):
  print(i)

In [ ]:
#3
a = int(input("Digite o valor de A: "))
b = int(input("Digite o valor de B: "))

if a < b:
  a, b = b, a

for i in range(b, a - 1, -1):
  print(i)

In [ ]:
#4
n = int(input("Digite um número par: "))
while n % 2 != 0:
    n = int(input("Digite um número par: "))
for i in range(n + 2, n + 22, 2):
    print(i)

In [ ]:
#5
n = int(input("Digite um número: "))
while n % 2 != 0:
    n = int(input("Digite um número par: "))
for i in range(n + 2, n + 22, 2):
    print(i)

In [ ]:
#6
soma = 0
for i in range(1, 11):
    soma += i
print(soma)

In [ ]:
#7
soma = 0
for i in range(1, 101):
    soma += i
print(soma)

In [ ]:
#8
a = int(input("Digite o valor de A: "))
b = int(input("Digite o valor de B: "))

soma = 0
for i in range(a, b + 1):
    soma += i

print("A soma dos números de", a, "a", b, "é", soma)

In [ ]:
#9
#Saida real = nenhum, erro de identacao do 'print(j)'

In [ ]:
#10
#Saida = nenhuma, pois esta decrementando incorretamente, comecando por 5 e indo para 10

## Referências

[FORBELLONE, A. L. V.; EBERSPÄCHER, H. F. Lógica de programação a construção de algoritmos e estruturas de dados. 3. ed. -. São Paulo: Prentice Hall, 2005. ISBN 9788576050247.](https://plataforma.bvirtual.com.br/Leitor/Publicacao/323/pdf/11?code=DUT9ceW6cevP76Zo+EZuhLshlFiipf6bm1qH+Er9IE2FR2aabpwRBUFHWBQY+ppEDI1u1phvX3Bo9xII7UTG/g==)  

[ASCENCIO, A. F. G.; CAMPOS, E. A. V. Fundamentos da programação de computadores algoritmos, Pascal e C/C++. São Paulo: Prentice Hall, 2002. ISBN 9788587918369.](https://plataforma.bvirtual.com.br/Leitor/Publicacao/474/pdf/17?code=5aKNgQDVA1oGkIID/Mxq/5biXE3mV+4408hOmSg69vmeXo0W9VHrtyzrwyezUND1EQo7jhOxxg2X7UCNFBYZHg==)  

MATTHES, E. Curso intensivo de Python: uma introdução à prática e baseada em projetos à programação. São Paulo: Novatec, 2015.  

MENEZES, N. N. C. Introdução à programação com Python: algoritmos e lógica de programação para iniciantes. 3.ed. São Paulo: Novatec, 2019.  



### Outros materiais

[Python. ForLoop - Python Wiki.](https://wiki.python.org/moin/ForLoop)